@import "./menu-flex.css";
@import "./vars.css";

* {
	font-family: Helvetica, 'Helvetica Neue', Arial, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h3 {
	margin: 20px auto 5px auto;
}

.page-content {
	margin: 10px;
	padding: 10px;
	color: var(--colors-dark-grey);
	font-size: 16px;
}

.main-content {
	border: 1px solid var(--colors-pure-black);
	margin: 10px;
	padding: 10px;
	color: var(--colors-medium-grey);
	font-size: 16px;
}

.summary,
.summary a:any-link {
	font-size: 18px;
	text-decoration: none;
	color: inherit;
}

header {
	text-align: center;
	height: 75px;
	padding: 1px;
	text-transform: capitalize;
	background-color: var(--colors-light-blue);
}

header h1 a:any-link {
	color: var(--colors-pure-white);
	text-decoration: none;
}

footer {
	position: fixed;
	color: var(--colors-pure-white);
	height: 35px;
	background-color: var(--colors-medium-grey);
	bottom: 0px;
	text-align: center;
	width: 99%;
}

footer > p {
	margin: 10px;
}
