:root {
	--colors-pure-white: #fff;
	--colors-pure-black: #000;
	--colors-main-orange: #d37101;
	--colors-light-blue: #42a5f5;
	--colors-medium-grey: #757575;
	--colors-light-grey: #d3cdcd;
	--colors-dark-grey: #444444;
}
