{{ partial "header" (dict "Kind" .Kind "Template" "List") }}

<div id="main">

	<h2>Page title: {{ .Page.Title }}</h2>
	{{ .Content }}

	{{ partial "menu" . }}

	{{/*  loop through all pages in ./content folder  */}}
	{{ range .Pages }}
	<section class="main-content">

		{{/*  page-post title  */}}
		<div style="font-size:20px;">
			<a href="{{ .Permalink }}">
				<h3>{{ .Title }}</h3>
			</a>
		</div>
		{{/*  created date  */}}
		<div>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>

		{{/*  tags  */}}
		<div>
			{{ if .Params.tags }}
			<strong>Tags:</strong>
			{{ range .Params.tags }}
			<a href="{{ "/tags/" | relLangURL }}{{ "/" }}{{ . | urlize }}">
				{{ . }}
			</a>
			{{end}}
			{{end}}
		</div>

		{{/*  categories  */}}
		<div>
			{{ if .Params.categories }}
			<strong>Categories:</strong>
			{{ range .Params.categories }}
			<a href="{{ "/categories/" | relLangURL }}{{ "/" }}{{ . | urlize }}">{{ . }}</a>
			{{end}}
			{{end}}
		</div>

		{{/*  custom categories  */}}
		<div>
			{{ if .Params.colours }}
			<strong>Colours:</strong>
			{{range .Params.colours}}
			<a href="{{ "/colours/" | relLangURL }}{{ "/" }}{{ . | urlize }}">{{ . }}</a>
			{{end}}
			{{end}}
		</div>

		{{/*  summary  */}}
		<p class="summary">
			<a href="{{ .Permalink }}">{{ .Summary }}</a>
		</p>

	</section>
	{{ end }}

	{{/*  <h3> List categories with counts of articles on each category.</h3>
	{{ range $name, $items := .Site.Taxonomies.categories }}
	<p>
		<a href="{{ $.Site.BaseURL }}categories/{{ $name | urlize | lower }}">
			- {{ $name }} &nbsp;
			<span>({{ len $items }})</span>
		</a>
	</p>
	{{ end }} */}}

</div>

{{ partial "footer" . }}
